body {
    background-color:rgb(29, 160, 221);
}

h1 {
	display: inline-block;
	padding: 0.5em 0.7em 0em;
	position: relative;
	top: 0.10em;
	font-size: 180%;
	font-weight: bold;
	line-height: 1;
	color: #D0D0D0;
    text-shadow: 0em 0.05em 0.1em rgba(0,0,0,0.7);
    transition: color 0.20s linear;
}

h1:hover {
	color: #FFFFFF;
	transition: color 0.08s linear;
}


h2 {
	display: block;
	padding: 0.5em 0.7em 0em;
	position: relative;
	top: 0.10em;
	font-size: 150%;
	font-weight: bold;
	line-height: 1;
	color: #D0D0D0;
    text-shadow: 0em 0.05em 0.1em rgba(0,0,0,0.7);
    transition: color 0.20s linear;
}

h2:hover {
	color: #FFFFFF;
	transition: color 0.08s linear;
}

.spellname {
    color: red;
    font-size: 20px;
    animation-duration: 3s;
    animation-name: blueglow;
    animation-iteration-count: infinite;
}

.effectname {
    color: blue;
    font-size: 20px;
    animation-duration: 3s;
    animation-name: redglow;
    animation-iteration-count: infinite;
}

@keyframes blueglow {
    from {
        color: #D0D0D0;
    }
    
    50% {
        color: rgb(32, 41, 82);
    }

    to {
        color: #D0D0D0;
    }
}

@keyframes redglow {
    from {
        color: rgb(77, 68, 39);
    }
    
    50% {
        color: rgb(235, 150, 23);
    }

    to {
        color: rgb(77, 68, 39);
    }
}